.cls-1 {
	font-size: 78.5px;
}

.cls-1,
.cls-2 {
	fill: #ba1818;
	font-family: Helvetica-Bold, Helvetica;
	font-weight: 700;
}

.cls-2 {
	font-size: 78.5px;
}

.cls-3 {
	fill: none;
	stroke: #ba1818;
	stroke-miterlimit: 10;
	stroke-width: 7px;
}
#fise-logo {
	width: 200px;
}
