@import url("https://fonts.googleapis.com/css2?family=Fuggles&family=Inter:wght@300;400;700&family=Playfair+Display&display=swap");
#logo {
	font-family: "Fuggles";
	color: #ffffff;
	font-size: 100px;
}
