@import "../../global_styles/colors";

.grid-columns {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
}
.projects {
	min-height: 100svh;
	&_title {
		height: fit-content;
		color: #ffffff;
		grid-row: 1;
		grid-column: 1;
		span {
			width: 100%;
			text-align: end;
		}
	}
	&_block {
		display: grid;
		grid-template-columns: 2fr 2fr;
	}
}
.posters {
	min-height: 100%;
	&_container {
		height: 50vh;
		width: 100%;
		position: sticky;
		top: 25%;
		display: flex;
		justify-content: center;
		&_item {
			width: 100%;
			height: 100%;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 10px;
		}
		img {
			position: absolute;
			max-width: 95%;
			max-height: 90%;
			object-fit: contain;
			border-radius: 10px;
		}
	}
}
@media (max-width: 850px) {
	.posters {
		display: none;
	}
	.projects_block {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 510px) {
	.projects {
		padding: 0 30px;
	}
}
