@import "../../global_styles/colors.scss", "../../global_styles/animations";
.title {
	width: 100%;
	height: 100svh;
	display: grid;
	place-content: center;
	color: $TEXT;
	font-size: max(25px, min(5vw, 5rem));
	&_description {
		width: 100%;
		text-align: end;
		font-size: max(15px, min(3vw, 3rem));
	}
}
.appears-down-1 {
	display: inline-block;
	animation: appears-down 1s;
}
